---
import './src/styles/global.css'
---

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Bandung Semesta Teknologi</title>
    <style>
        *{
            font-family: "Montserrat", Arial, sans-serif;
        }
    </style>
</head>
<body>
    <main class="overflow-x-hidden">
        <!-- Nav Wrapper -->
        <nav class="fixed top-0 flex justify-between items-center bg-transparent w-full z-20 px-4 py-6 md:px-14 md:py-4" id="nav">
            <!-- Logo Link Wrapper -->
            <a href="/index.html" class="flex">
                <img src="/img/icons/logo-circle.svg" class="w-[48px] md:w-12 mr-2">
                <span class="text-[10px] md:text-xs font-bold text-white">BANDUNG<br>SEMESTA<br>TEKNOLOGI</span>
            </a>
            <!-- Logo Link Wrapper -->

            <!-- Center Nav Wrapper -->
            <div class="hidden md:flex nav-links justify-center items-center gap-8">
                <a class="text-sm text-white font-bold" href="">HOME</a>
                <a class="text-sm text-white font-medium" href="">ABOUT US</a>
                
                <!-- SERVICE DROPDOWN -->
                <div class="service-dropdown text-white font-medium text-sm">
                    <button class="dropdown-toggle flex items-center gap-2 rounded">
                    <span class="pointer-events-none">SERVICES</span>
                    <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>chevron-down</title>
                        <g fill="none">
                        <path d="M19.5 8.25l-7.5 7.5-7.5-7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                    </button>
                    <div class="dropdown-menu absolute hidden bg-gray-800 text-white font-medium text-sm rounded-b-lg w-48">
                    <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Project-based</a>
                    <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Managed Service</a>
                    <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Engineering</a>
                    </div>
                </div>

                <!-- SOLUTIONS DROPDOWN -->
                <div class="service-dropdown text-white font-medium text-sm">
                    <button class="dropdown-toggle flex items-center gap-2 rounded">
                    <span class="pointer-events-none">SOLUTIONS</span>
                    <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <title>chevron-down</title>
                        <g fill="none">
                        <path d="M19.5 8.25l-7.5 7.5-7.5-7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                    </button>
                    <div class="dropdown-menu absolute hidden bg-gray-800 text-white font-medium text-sm rounded-b-lg pb-2 w-48">
                        <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Web Development</a>
                        <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Mobile Apps Development</a>
                        <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">IoT Engineering</a>
                        <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Maintenance</a>
                        <a href="" class="text-sm block px-6 py-2 hover:bg-gray-900">Engineering</a>
                    </div>
                </div>

                <a class="text-sm text-white font-medium" href="">PARTNERS</a>
            </div>
            <!-- Center Nav Wrapper -->

            <!-- Contact Button -->
            <a class="hidden md:block border-2 border-white py-3 px-5 text-sm font-medium rounded-md text-white" href="">CONTACT US</a>
            <!-- Contact Button -->

            <!-- Mobile Nav -->
            <div x-data="{ expanded: false }" class="md:hidden" :class="expanded ? 'absolute w-full top-0 right-0 z-20 bg-gray-800' : 'bg-transparent'">
                <button @click="expanded = !expanded" :aria-expanded="expanded" aria-controls="mobile-nav" :class="expanded ? 'relative my-8 mx-4 float-right z-30' : ''"><img src="/img/icons/hamburger.svg" alt="" class="w-[24px]"></button>
                <div id="mobile-nav" :class="expanded ? 'mt-10 absolute flex flex-col gap-4 right-0 md:hidden w-screen h-screen py-6 bg-gray-800 text-white transform origin-center transition duration-400 ease-in-out' : 'hidden'">
                    <a class="text-sm text-white font-bold pl-4" href="">Home</a>
                    <a class="text-sm text-white font-medium pl-4" href="">About Us</a>
                    
                    <!-- SERVICE DROPDOWN -->
                    <div x-data="{ expanded: false }" class="relative px-4 transform origin-center transition duration-400 ease-in-out" @click="expanded = !expanded" :aria-expanded="expanded" aria-controls="link-service" :class="expanded ? 'bg-gray-900 py-2' : 'bg-gray-800'">
                        <h2 class="text-2xl font-bold">
                            <button id="link-service-title" type="button" class="flex items-center justify-between w-full text-left font-medium text-sm" :class="{'py-2' : expanded}">
                                Services
                                <svg class="w-3 h-3 pointer-events-none fill-white shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <title>chevron-down</title>
                                    <g fill="none">
                                    <path d="M19.5 8.25l-7.5 7.5-7.5-7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="transform origin-center transition duration-400 ease-out" :class="{'!rotate-180': expanded}"></path>
                                    </g>
                                </svg>                             
                            </button>
                        </h2>
                        <div id="link-service" role="region" aria-labelledby="link-service-title" class="grid text-sm text-slate-600 overflow-hidden transition-all duration-300 ease-in-out" :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'hidden grid-row-[0fr] opacity-0'" >
                            <div class="overflow-hidden flex flex-col text-white text-sm gap-5 my-2 md:my-0">
                                <a href="" class="text-xs">Project-based</a>
                                <a href="" class="text-xs">Managed Service</a>
                                <a href="" class="text-xs">Engineering</a>
                            </div>
                        </div>
                    </div>
                    <!-- SERVICE DROPDOWN -->
                    
                    <!-- SOLUTIONS DROPDOWN -->
                    <div x-data="{ expanded: false }" class="relative px-4 transform origin-center transition duration-400 ease-in-out" @click="expanded = !expanded" :aria-expanded="expanded" aria-controls="link-solutions" :class="expanded ? 'bg-gray-900 py-2' : 'bg-gray-800'">
                        <h2 class="text-2xl font-bold">
                            <button id="link-solutions-title" type="button" class="flex items-center justify-between w-full text-left font-medium text-sm" :class="{'py-2' : expanded}">
                                Solutions
                                <svg class="w-3 h-3 pointer-events-none fill-white shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <title>chevron-down</title>
                                    <g fill="none">
                                    <path d="M19.5 8.25l-7.5 7.5-7.5-7.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="transform origin-center transition duration-400 ease-out" :class="{'!rotate-180': expanded}"></path>
                                    </g>
                                </svg>                             
                            </button>
                        </h2>
                        <div id="link-solutions" role="region" aria-labelledby="link-solutions-title" class="grid text-sm text-slate-600 overflow-hidden transition-all duration-300 ease-in-out" :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'hidden grid-row-[0fr] opacity-0'" >
                            <div class="overflow-hidden flex flex-col text-white text-sm gap-5 my-2 md:my-0">
                                <a href="" class="text-xs">Web Development</a>
                                <a href="" class="text-xs">Mobile Apps Development</a>
                                <a href="" class="text-xs">IoT Engineering</a>
                                <a href="" class="text-xs">Maintenance</a>
                                <a href="" class="text-xs">Engineering</a>
                            </div>
                        </div>
                    </div>
                    <!-- SOLUTIONS DROPDOWN -->

                    <a class="text-sm text-white font-medium pl-4" href="">Partners</a>                
                </div>
            </div>
            <!-- Mobile Nav -->
        </nav>
        <!-- Nav Wrapper -->

        <!-- Hero wrapper -->
        <div class="grid md:grid-cols-2 grid-cols-1 h-screen">
            <div class="h-full hidden md:flex flex-col justify-between bg-gray-900">
                <div class="">&nbsp;</div>
                
                <!-- Title Wrapper -->
                <div class="pl-14 flex flex-col justify-center">
                    <h1 class="mb-8 text-6xl font-bold text-white leading-normal">EMPOWERING TOMORROW &trade;</h1>
                    <a class="bg-sky-500 text-sm py-4 px-6 font-semibold rounded-md text-white w-fit" href="">Learn More About BTEKLabs</a>
                </div>
                <!-- Title Wrapper -->

                <span class="text-white bg-sky-500 w-full px-14 py-4">IT Solution Provider & Software House</span>
            </div>
            <div class="bg-[url('/img/hero.png')] w-full h-full bg-center">
                <div class="flex flex-col justify-between h-full md:hidden">
                    <div class="">&nbsp;</div>

                    <!-- Title Wrapper -->
                    <div class="flex flex-col justify-center px-4">
                        <h1 class="mb-4 text-4xl font-bold text-white leading-normal">EMPOWERING TOMORROW &trade;</h1>
                        <a class="bg-sky-500 text-xs py-4 px-6 font-semibold rounded-md text-white w-fit" href="">Learn More About BTEKLabs</a>
                    </div>
                    <!-- Title Wrapper -->

                    <div class="bot w-full flex flex-col gap-4 items-center">
                        <img src="/img/icons/mouse.svg" alt="" class="w-[32px]">
                        <div class="text-white bg-sky-500 w-full px-4 py-4 text-xs">IT Solution Provider & Software House</div>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero wrapper -->
        
        <!-- ABOUT WRAPPER -->
        <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen text-slate-950" id="about">
            <div class="md:block py-8 flex flex-col justify-end bg-[url('/img/crafting.png')] bg-no-repeat bg-cover h-full"></div>

            <div class="text-wrapper w-full flex flex-col justify-center px-4 md:px-8 md:pl-14 py-24 bg-white">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-6">
                    <span class="text-sm md:text-lg font-bold uppercase tracking-widest text-sky-400">about</span>
                    <hr class="border-1 border-sky-500 w-full ml-8  ">
                </div>
                <!-- subtitle wrapper -->
                
                <div class="text-wrapper mb-12">
                    <h2 class="text-2xl md:text-5xl font-bold mb-4 leading-tight">Crafting Excellent<br>Innovations</h2>
                    <p class="text-justify text-[12px] md:text-sm leading-normal mb-8 md:mb-12">BTEKLabs is a beacon of professionalism and innovation in the technology industry. With an unwavering commitment to excellence, we excel in crafting solutions that not only meet but exceed the expectations of our clients.<br><br>Every line of code is meticulously written to deliver top-tier, cutting-edge software. You can expect a seamless blend of professionalism and innovation, resulting in solutions that empower your digital journey and set new standards in the software industry.</p>
                    <a class="bg-sky-500 text-[12px] md:text-sm py-4 px-6 font-semibold rounded-md text-white w-fit" href="">Know More About Our Vision</a>
                </div>

                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex justify-center items-center mb-8">
                    <span class="text-sm md:text-lg font-bold uppercase tracking-widest text-gray-400 w-full">featured clients</span>
                    <hr class="border-1 border-gray-400 w-3/5 md:w-full ml-8">
                </div>
                <!-- subtitle wrapper -->
                <div class="image-slider h-12 flex flex-row overflow-hidden gap-4" id="clientsContainer">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                    <img src="/img/clients.png" alt="" class="h-full">
                </div>
            </div>
        </div>
        <!-- ABOUT WRAPPER -->

        <!-- SPECIALITIES WRAPPER -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 bg-[url('/img/expertise.png')] px-4 md:px-14 py-24 min-h-screen text-white bg-no-repeat bg-cover bg-center">
            <!-- headline wrapper -->
            <div class="headline-wrapper md:pr-8">

                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-8">
                    <span class="text-sm md:text-lg font-bold uppercase tracking-widest text-sky-400">specialties</span>
                    <hr class="border-1 border-sky-500 w-full ml-8">
                </div>
                <!-- subtitle wrapper -->

                <h2 class="text-2xl md:text-5xl font-bold mb-6">Effective Solutions<br>For Your Business</h2>
                    <p class="text-justify text-[12px] md:text-sm leading-normal">We're dedicated in delivering effective solutions for businesses by harnessing the power of the right platforms, including websites, mobile apps, and more. With a keen focus on understanding the unique needs and goals of each client, we craft tailored software solutions that drive success.<br><br>Whether it's creating user-friendly websites that leave a lasting impression, developing mobile apps that enhance accessibility and engagement, or leveraging advanced technologies for efficient business processes, we're committed to delivering results.<br><br>Our expertise in selecting the most suitable platforms ensures that businesses can thrive in the ever-evolving digital landscape, making us a trusted partner for achieving digital excellence.
                    </p>
            
            </div>
            <!-- headline wrapper -->

            <!-- platforms wrapper -->
            <div class="platform-wrapper h-full">
                <div class="bg-gray-800 rounded-md flex items-center px-6 py-7 mb-3">
                    <img class="w-[20px] md:w-[24px]" src="/img/icons/web.svg" alt="">
                    <span class="font-bold text-[12px] md:text-sm ml-2 md:ml-4">Web Development</span>
                </div>
                <div class="bg-gray-800 rounded-md flex items-center px-6 py-7 mb-3">
                    <img class="w-[20px] md:w-[24px]" src="/img/icons/mobile.svg" alt="">
                    <span class="font-bold text-[12px] md:text-sm ml-2 md:ml-4">Mobile Apps Development</span>
                </div>
                <div class="bg-gray-800 rounded-md flex items-center px-6 py-7 mb-3">
                    <img class="w-[20px] md:w-[24px]" src="/img/icons/iot.svg" alt="">
                    <span class="font-bold text-[12px] md:text-sm ml-2 md:ml-4">IoT Engineering</span>
                </div>
                <div class="bg-gray-800 rounded-md flex items-center px-6 py-7 mb-3">
                    <img class="w-[20px] md:w-[24px]" src="/img/icons/maintenance.svg" alt="">
                    <span class="font-bold text-[12px] md:text-sm ml-2 md:ml-4">Maintenance</span>
                </div>
                <div class="bg-gray-800 rounded-md flex items-center px-6 py-7">
                    <img class="w-[20px] md:w-[24px]" src="/img/icons/engineering.svg" alt="">
                    <span class="font-bold text-[12px] md:text-sm ml-2 md:ml-4">Engineering</span>
                </div>
            </div>
            <!-- platforms wrapper -->
        </div>
        <!-- SPECIALITIES WRAPPER -->

        <!-- INNOVATIONS WRAPPER -->
        <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen text-slate-950 gap-2 bg-stone-100">
            <div class="text-wrapper flex flex-col justify-center px-4 md:px-8 md:pl-14 pt-8 bg-white z-10">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-4">
                    <span class="font-bold uppercase tracking-widest text-sky-400">innovations</span>
                    <hr class="border-1 border-sky-500 w-full ml-8  ">
                </div>
                <!-- subtitle wrapper -->
                
                <h2 class="text-2xl md:text-5xl font-bold mb-4 leading-tight">Your Digital Journey Starts Here</h2>
                <p class="text-justify text-[12px] md:text-sm leading-normal">We specializes in a diverse range of fields, including Warehouse Management Systems (WMS), Point of Sales (POS) solutions, and Information Systems. Our expertise lies in creating tailored software solutions that optimize warehouse operations and efficient inventory tracking that can provide organizations with robust data management, analysis, and reporting capabilities.<br><br>With a strong track record in these specialized areas, we are The Most Trusted partner for businesses seeking software solutions that drive operational excellence and enhance their competitive edge in today's dynamic market.</p>
                
                <div class="flex gap-2 mt-4">
                    <button class="bg-sky-500 text-sm p-3 font-semibold rounded-full text-white w-fit button-backwards"><img src="/img/icons/chevron-left.svg" alt=""></button>
                    <button class="bg-sky-500 text-sm p-3 font-semibold rounded-full text-white w-fit button-forward"><img src="/img/icons/chevron-right.svg" alt=""></button>
                </div>
            </div>
            <div class="carousel flex flex-row gap-2 relative">
                <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-1.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem] shownCard">
                    <div class="card w-screen md:w-64">
                        <!-- subtitle wrapper -->
                        <div class="subtitle-wrapper w-full flex items-center mb-2">
                            <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">web dev</span>
                            <hr class="border-1 border-white w-full ml-8  ">
                        </div>
                        <!-- subtitle wrapper -->
                        
                        <h2 class="text-xl font-bold leading-normal text-white">Integrated Warehouse Management System</h2>
                    </div>
                </div>
                <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-2.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem]">
                    <div class="card  w-screen md:w-64">
                        <!-- subtitle wrapper -->
                        <div class="subtitle-wrapper w-full flex items-center mb-2">
                            <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">mobile apps</span>
                            <hr class="border-1 border-white w-2/5 ml-8  ">
                        </div>
                        <!-- subtitle wrapper -->
                        
                        <h2 class="text-xl font-bold leading-normal text-white">Point of Sales Application</h2>
                    </div>
                </div>
                <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-1.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem]">
                    <div class="card  w-screen md:w-64">
                        <!-- subtitle wrapper -->
                        <div class="subtitle-wrapper w-full flex items-center mb-2">
                            <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">web dev</span>
                            <hr class="border-1 border-white w-2/5 ml-8  ">
                        </div>
                        <!-- subtitle wrapper -->
                        
                        <h2 class="text-xl font-bold leading-normal text-white">Integrated Warehouse Management System</h2>
                    </div>
                </div>
                <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-2.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem]">
                    <div class="card  w-screen md:w-64">
                        <!-- subtitle wrapper -->
                        <div class="subtitle-wrapper w-full flex items-center mb-2">
                            <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">mobile apps</span>
                            <hr class="border-1 border-white w-2/5 ml-8  ">
                        </div>
                        <!-- subtitle wrapper -->
                        
                        <h2 class="text-xl font-bold leading-normal text-white">Point of Sales Application</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- INNOVATIONS WRAPPER -->

        <!-- CONNECT WRAPPER -->
        <div class="grid grid-cols-1 md:grid-cols-2 bg-sky-500 text-white px-4 md:pl-14 py-24 gap-3 md:gap-8">
            <div class="text-wrapper flex flex-col justify-center ">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-4">
                    <span class="text-[12px] md:text-sm font-bold uppercase tracking-widest w-full">connect with us</span>
                    <hr class="border-1 border-white w-full ml-4">
                </div>
                <!-- subtitle wrapper -->
                
                <h2 class="text-2xl md:text-4xl font-bold leading-tight">Empowering your business with innovative software solutions.</h2>
            </div>

            <div class="text-wrapper flex flex-col justify-center">
                <p class="text-[12px] md:text-sm">We help businesses to improve their operations, increase their efficiency, and reach new customers. The company does this by developing custom software solutions that meet the specific needs of each client.</p>
                <a class="text-[12px] md:text-sm bg-gray-900 py-4 px-6 font-semibold rounded-md text-white w-fit mt-4" href="">Reach Out Now</a>            
            </div>
        </div>
        <!-- CONNECT WRAPPER -->

        <!-- FOOTER SECTION -->
        <div class="bg-gray-800 px-4 md:px-14 pt-16 pb-8 flex flex-col gap-8">
            <div class="flex flex-col md:flex-row gap-8 md:gap-16 text-white">
                <div class="addres-wrapper flex flex-col w-full md:w-2/5 gap-5 text-[12px] md:text-sm ">
                    <a href="/index.html" class="flex">
                        <img src="/img/icons/logo-circle.svg" class="w-[48px] md:w-12 mr-2">
                        <span class="text-[10px] md:text-xs font-bold text-white">BANDUNG<br>SEMESTA<br>TEKNOLOGI</span>
                    </a>
                    <span class="leading-normal">For more information, you can visit our store or get in touch through our contacts below:</span>
                    <div class="info-wrapper flex gap-2 items-center">
                        <img class="w-[20px] md:w-[24px]" src="/img/icons/location.svg" alt="">
                        <span class="">Jl. Nata Kusumah VII, RT.01/RW.07, Kabupaten Bandung, Jawa Barat 40225</span>
                    </div>
                    <div class="info-wrapper flex gap-2 items-center">
                        <img class="w-[20px] md:w-[24px]" src="/img/icons/website.svg" alt="">
                        <a href="" class="">bteklabs.com</a>
                    </div>
                    <div class="info-wrapper flex gap-2 items-center">
                        <img class="w-[20px] md:w-[24px]" src="/img/icons/mail.svg" alt="">
                        <span class="">support@bteklabs.com</span>
                    </div>
                    <div class="info-wrapper flex gap-2 items-center">
                        <img class="w-[20px] md:w-[24px]" src="/img/icons/mail.svg" alt="">
                        <span class="">marketing@bteklabs.com</span>
                    </div>
                </div>

                <!-- QUICK LINKS -->
                <div class="w-full md:w-1/5">
                    <!-- Mobile Quick Links -->
                    <div x-data="{ expanded: false }" class="py-2 px-4 relative md:hidden border rounded-md" @click="expanded = !expanded" :aria-expanded="expanded" aria-controls="faqs-text-02" :class="expanded ? 'bg-gray-900 border-sky-500' : 'bg-gray-800 border-gray-600'">
                        <h2 class="text-2xl font-bold">
                            <button id="faqs-title-02" type="button" class="flex items-center justify-between w-full text-left font-semibold py-2 text-sm">
                                Quick Links
                                <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                    <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                </svg>                                
                            </button>
                        </h2>
                        <div id="faqs-text-02" role="region" aria-labelledby="faqs-title-02" class="grid text-sm text-slate-600 overflow-hidden transition-all duration-300 ease-in-out" :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'hidden grid-row-[0fr] opacity-0'" >
                            <div class="overflow-hidden flex flex-col text-white text-sm gap-5 my-2 md:my-0">
                                <a href="" class="text-xs">About Us</a>
                                <a href="" class="text-xs">Partners</a>
                                <a href="" class="text-xs">Terms & Conditions</a>
                                <a href="" class="text-xs">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Quick Links -->

                    <!-- Breakpoint Quick Links -->
                    <div class="hidden md:flex flex-col gap-5">
                        <h5 class="text-2xl font-bold">Quick Links</h5>
                        <a href="" class="text-sm">About Us</a>
                        <a href="" class="text-sm">Partners</a>
                        <a href="" class="text-sm">Terms & Conditions</a>
                        <a href="" class="text-sm">Contact Us</a>
                    </div>
                    <!-- Breakpoint Quick Links -->
                </div>
                <!-- QUICK LINKS -->

                <!-- SERVICES -->
                <div class="w-full md:w-1/5">
                    <!-- Mobile Services -->
                    <div x-data="{ expanded: false }" class="py-2 px-4 relative md:hidden border rounded-md" @click="expanded = !expanded" :aria-expanded="expanded" aria-controls="faqs-text-03" :class="expanded ? 'bg-gray-900 border-sky-500' : 'bg-gray-800 border-gray-600'">
                        <h2 class="text-2xl font-bold">
                            <button id="faqs-title-02" type="button" class="flex items-center justify-between w-full text-left font-semibold py-2 text-sm">
                                Services
                                <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                    <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                </svg>                                
                            </button>
                        </h2>
                        <div id="faqs-text-03" role="region" aria-labelledby="faqs-title-03" class="grid text-sm text-slate-600 overflow-hidden transition-all duration-300 ease-in-out" :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'hidden grid-row-[0fr] opacity-0'" >
                            <div class="overflow-hidden flex flex-col text-white text-sm gap-5 my-2 md:my-0">
                                <a href="" class="text-xs">Project-based</a>
                                <a href="" class="text-xs">Managed Service</a>
                                <a href="" class="text-xs">Engineering</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Services -->

                    <!-- Breakpoint Services -->
                    <div class="hidden md:flex flex-col gap-5">
                        <h5 class="text-2xl font-bold">Services</h5>
                        <a href="" class="text-sm">Project-based</a>
                        <a href="" class="text-sm">Managed Service</a>
                        <a href="" class="text-sm">Engineering</a>
                    </div>
                    <!-- Breakpoint Services -->
                </div>
                <!-- SERVICES -->

                <!-- SOLUTIONS -->
                <div class="w-full md:w-1/5">
                    <!-- Mobile Solutions -->
                    <div x-data="{ expanded: false }" class="py-2 px-4 relative md:hidden border rounded-md" @click="expanded = !expanded" :aria-expanded="expanded" aria-controls="faqs-text-04" :class="expanded ? 'bg-gray-900 border-sky-500' : 'bg-gray-800 border-gray-600'">
                        <h2 class="text-2xl font-bold">
                            <button id="faqs-title-02" type="button" class="flex items-center justify-between w-full text-left font-semibold py-2 text-sm">
                                Solutions
                                <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                    <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                </svg>                                
                            </button>
                        </h2>
                        <div id="faqs-text-04" role="region" aria-labelledby="faqs-title-04" class="grid text-sm text-slate-600 overflow-hidden transition-all duration-300 ease-in-out" :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'hidden grid-row-[0fr] opacity-0'" >
                            <div class="overflow-hidden flex flex-col text-white text-sm gap-5 my-2 md:my-0">
                                <a href="" class="text-xs">Web Development</a>
                                <a href="" class="text-xs">Mobile Apps Development</a>
                                <a href="" class="text-xs">IoT Engineering</a>
                                <a href="" class="text-xs">Maintenance</a>
                                <a href="" class="text-xs">Engineering</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Solutions -->

                    <!-- Breakpoint Solutions -->
                    <div class="hidden md:flex flex-col gap-5">
                        <h5 class="text-2xl font-bold">Solutions</h5>
                        <a href="" class="text-sm">Web Development</a>
                        <a href="" class="text-sm">Mobile Apps Development</a>
                        <a href="" class="text-sm">IoT Engineering</a>
                        <a href="" class="text-sm">Maintenance</a>
                        <a href="" class="text-sm">Engineering</a>
                    </div>
                    <!-- Breakpoint Solutions -->
                </div>
                <!-- SOLUTIONS -->
            </div>
            <hr class="border-1 border-white">
            <small class="text-xs text-white font-semibold">Copyrights 2024 &copy; BTEKLabs</small>
        </div>
        <!-- FOOTER SECTION -->
    </main>
    <!-- <script src="/scripts/script.js"></script> -->
</body>
</html>