<div class="grid grid-cols-1 md:grid-cols-2 min-h-screen text-slate-950" id="about">
    <div class="md:block py-8 flex flex-col justify-end bg-[url('/img/crafting.png')] bg-no-repeat bg-cover h-full"></div>

    <div class="text-wrapper w-full flex flex-col justify-center px-4 md:px-8 md:pl-14 py-24 bg-white">
        <!-- subtitle wrapper -->
        <div class="subtitle-wrapper w-full flex items-center mb-6">
            <span class="text-sm md:text-lg font-bold uppercase tracking-widest text-sky-400">about</span>
            <hr class="border-1 border-sky-500 w-full ml-8  ">
        </div>
        <!-- subtitle wrapper -->
        
        <div class="text-wrapper mb-12">
            <h2 class="text-2xl md:text-5xl font-bold mb-4 leading-tight">Crafting Excellent<br>Innovations</h2>
            <p class="text-justify text-[12px] md:text-sm leading-normal mb-8 md:mb-12">BTEKLabs is a beacon of professionalism and innovation in the technology industry. With an unwavering commitment to excellence, we excel in crafting solutions that not only meet but exceed the expectations of our clients.<br><br>Every line of code is meticulously written to deliver top-tier, cutting-edge software. You can expect a seamless blend of professionalism and innovation, resulting in solutions that empower your digital journey and set new standards in the software industry.</p>
            <a class="bg-sky-500 text-[12px] md:text-sm py-4 px-6 font-semibold rounded-md text-white w-fit" href="">Know More About Our Vision</a>
        </div>

        <!-- subtitle wrapper -->
        <div class="subtitle-wrapper w-full flex justify-center items-center mb-8">
            <span class="text-sm md:text-lg font-bold uppercase tracking-widest text-gray-400 w-full">featured clients</span>
            <hr class="border-1 border-gray-400 w-3/5 md:w-full ml-8">
        </div>
        <!-- subtitle wrapper -->
        <div class="image-slider h-12 flex flex-row overflow-hidden gap-4" id="clientsContainer">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
            <img src="/img/clients.png" alt="" class="h-full">
        </div>
    </div>
</div>
