---
export interface Props {
    title: string;
    description?: string;
    button_text?: string;
}

const { title, description, button_text } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 bg-sky-500 text-white px-4 md:pl-14 py-24 gap-3 md:gap-8">
    <div class="text-wrapper flex flex-col justify-center ">
        <!-- subtitle wrapper -->
        <div class="subtitle-wrapper w-full flex items-center mb-4">
            <span class="text-sm md:text-md text-gray-800 font-bold uppercase tracking-widest w-1/2">connect with us</span>
            <hr class="border-1 border-gray-800 w-full ml-4">
        </div>
        <!-- subtitle wrapper -->
        
        <h2 class="text-2xl md:text-4xl font-bold leading-tight">{title}</h2>
    </div>

    <div class="text-wrapper flex flex-col justify-center">
        <p class="text-sm md:text-md">{description}</p>
        <a class="text-sm md:text-md bg-gray-900 py-4 px-6 font-semibold rounded-md text-white w-fit mt-4" href="">{button_text}</a>            
    </div>
</div>
