<div class="grid md:grid-cols-2 grid-cols-1 h-screen">
    <div class="h-full hidden md:flex flex-col justify-between bg-gray-900">
        <div class="">&nbsp;</div>
        
        <!-- Title Wrapper -->
        <div class="pl-14 flex flex-col justify-center">
            <h1 class="mb-8 text-6xl font-bold text-white leading-normal">EMPOWERING TOMORROW &trade;</h1>
            <a class="bg-sky-500 text-sm py-4 px-6 font-semibold rounded-md text-white w-fit" href="">Learn More About BTEKLabs</a>
        </div>
        <!-- Title Wrapper -->

        <span class="text-white bg-sky-500 w-full px-14 py-4">IT Solution Provider & Software House</span>
    </div>
    <div class="bg-[url('/img/hero.png')] w-full h-full bg-center">
        <div class="flex flex-col justify-between h-full md:hidden">
            <div class="">&nbsp;</div>

            <!-- Title Wrapper -->
            <div class="flex flex-col justify-center px-4">
                <h1 class="mb-4 text-4xl font-bold text-white leading-normal">EMPOWERING TOMORROW &trade;</h1>
                <a class="bg-sky-500 text-xs py-4 px-6 font-semibold rounded-md text-white w-fit" href="">Learn More About BTEKLabs</a>
            </div>
            <!-- Title Wrapper -->

            <div class="bot w-full flex flex-col gap-4 items-center">
                <img src="/img/icons/mouse.svg" alt="" class="w-[32px]">
                <div class="text-white bg-sky-500 w-full px-4 py-4 text-xs">IT Solution Provider & Software House</div>                    
            </div>
        </div>
    </div>
</div>
