<div class="grid md:grid-cols-2 grid-cols-1 h-screen">
    <div class="bg-[url('/img/hero-about.png')] w-full h-full bg-center">
        <div class="flex flex-col justify-between h-full md:hidden">
            <div class="">&nbsp;</div>

            <div class="flex flex-col justify-center px-4">
                <h1 class="text-3xl md:text-4xl font-bold leading-tight mb-6">
                    Creating Innovation<br>
                    for Future Up Ahead
                </h1>
                
                <p class="text-sm md:text-sm leading-relaxed mb-6">
                    BTEKLabs is a beacon of professionalism and innovation in the technology 
                    industry. With an unwavering commitment to excellence, we excel in crafting 
                    software solutions that not only meet but exceed the expectations of clients.
                </p>
                
                <p class="text-sm md:text-sm leading-relaxed mb-8">
                    Every line of code is meticulously written to deliver top-tier, cutting-edge 
                    software. You can expect a seamless blend of professionalism and innovation, 
                    resulting in solutions that empower your digital journey and set new 
                    standards in the software industry.
                </p>
            </div>

            <div class="bot w-full flex flex-col gap-4 items-center">
                <img src="/img/icons/mouse.svg" alt="" class="w-[32px]">
                <div class="text-white bg-sky-500 w-full px-4 py-6 text-xs">IT Solution Provider & Software House</div>                    
            </div>
        </div>
    </div>
    <div class="h-full hidden md:flex flex-col justify-between bg-gray-800">
        <div class="">&nbsp;</div>
        
        <div class="px-14 flex flex-col justify-center text-white">
            <h1 class="text-3xl md:text-4xl font-bold leading-tight mb-6">
                Creating Innovation<br>
                for Future Up Ahead
            </h1>
            
            <p class="text-sm md:text-sm leading-relaxed mb-6">
                BTEKLabs is a beacon of professionalism and innovation in the technology 
                industry. With an unwavering commitment to excellence, we excel in crafting 
                software solutions that not only meet but exceed the expectations of clients.
            </p>
            
            <p class="text-sm md:text-sm leading-relaxed mb-8">
                Every line of code is meticulously written to deliver top-tier, cutting-edge 
                software. You can expect a seamless blend of professionalism and innovation, 
                resulting in solutions that empower your digital journey and set new 
                standards in the software industry.
            </p>
        </div>

        <span class="text-white bg-sky-500 w-full px-14 py-4">IT Solution Provider & Software House</span>
    </div>
</div>