<div class="grid grid-cols-1 md:grid-cols-2 min-h-screen text-slate-950 gap-2 bg-stone-100">
    <div class="text-wrapper flex flex-col justify-center px-4 md:px-8 md:pl-14 pt-8 bg-white z-10">
        <!-- subtitle wrapper -->
        <div class="subtitle-wrapper w-full flex items-center mb-4">
            <span class="font-bold uppercase tracking-widest text-sky-400">innovations</span>
            <hr class="border-1 border-sky-500 w-full ml-8  ">
        </div>
        <!-- subtitle wrapper -->
        
        <h2 class="text-2xl md:text-5xl font-bold mb-4 leading-tight">Your Digital Journey Starts Here</h2>
        <p class="text-justify text-[12px] md:text-sm leading-normal">We specializes in a diverse range of fields, including Warehouse Management Systems (WMS), Point of Sales (POS) solutions, and Information Systems. Our expertise lies in creating tailored software solutions that optimize warehouse operations and efficient inventory tracking that can provide organizations with robust data management, analysis, and reporting capabilities.<br><br>With a strong track record in these specialized areas, we are The Most Trusted partner for businesses seeking software solutions that drive operational excellence and enhance their competitive edge in today's dynamic market.</p>
        
        <div class="flex gap-2 mt-4">
            <button class="bg-sky-500 text-sm p-3 font-semibold rounded-full text-white w-fit button-backwards"><img src="/img/icons/chevron-left.svg" alt=""></button>
            <button class="bg-sky-500 text-sm p-3 font-semibold rounded-full text-white w-fit button-forward"><img src="/img/icons/chevron-right.svg" alt=""></button>
        </div>
    </div>
    <div class="carousel flex flex-row gap-2 relative">
        <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-1.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem] shownCard">
            <div class="card w-screen md:w-64">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-2">
                    <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">web dev</span>
                    <hr class="border-1 border-white w-full ml-8  ">
                </div>
                <!-- subtitle wrapper -->
                
                <h2 class="text-xl font-bold leading-normal text-white">Integrated Warehouse Management System</h2>
            </div>
        </div>
        <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-2.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem]">
            <div class="card  w-screen md:w-64">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-2">
                    <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">mobile apps</span>
                    <hr class="border-1 border-white w-2/5 ml-8  ">
                </div>
                <!-- subtitle wrapper -->
                
                <h2 class="text-xl font-bold leading-normal text-white">Point of Sales Application</h2>
            </div>
        </div>
        <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-1.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem]">
            <div class="card  w-screen md:w-64">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-2">
                    <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">web dev</span>
                    <hr class="border-1 border-white w-2/5 ml-8  ">
                </div>
                <!-- subtitle wrapper -->
                
                <h2 class="text-xl font-bold leading-normal text-white">Integrated Warehouse Management System</h2>
            </div>
        </div>
        <div class="px-4 md:px-8 pt-8 pb-4 md:pb-8 flex flex-col justify-end bg-[url('/img/innovations-2.png')] bg-no-repeat bg-cover h-full carousel_slide w-[32rem]">
            <div class="card  w-screen md:w-64">
                <!-- subtitle wrapper -->
                <div class="subtitle-wrapper w-full flex items-center mb-2">
                    <span class="font-bold uppercase tracking-widest text-white w-3/5 text-sm">mobile apps</span>
                    <hr class="border-1 border-white w-2/5 ml-8  ">
                </div>
                <!-- subtitle wrapper -->
                
                <h2 class="text-xl font-bold leading-normal text-white">Point of Sales Application</h2>
            </div>
        </div>
    </div>
</div>
