<div class="grid grid-cols-1 md:grid-cols-2 text-slate-950 gap-y-2 md:gap-y-4 bg-white">
    <div class="px-4 pt-8 md:py-2 md:pt-14 md:pl-14 order-1">
        <div class="subtitle-wrapper w-full flex items-center">
            <span class="text-sm md:text-md text-sky-400 font-semibold uppercase tracking-widest whitespace-nowrap">Service Detail</span>
            <hr class="border-1 border-sky-500 w-full ml-4">
        </div>
    </div>
    <div class="order-2"></div>

    <div class="px-4 md:pl-14 space-y-6 order-3">
        <div class="flex gap-x-4 items-center">
            <img src="/img/icons/squere-plus.svg" alt="plus Icon" class="h-8 w-8">
            <h2 class="text-3xl font-semibold">Advantages</h2>
        </div>
        <div class="border-b border-gray-300"></div>
        <div class="grid grid-cols-2 gap-6 md:gap-8">
            <div class="text-left">
                <div class="flex justify-items-center gap-x-2">
                    <img src="/img/icons/jangkar.svg" alt="Code Icon" class="h-6 w-6">
                    <h4 class="font-bold text-lg mb-2">Proactive Support</h4>
                </div>
                <p class="text-sm text-slate-600 leading-relaxed">
                    Our vision is to be an innovative and solution-oriented IT company that supports customer businesses.
                </p>
            </div>
            <div class="text-left">
                <div class="flex justify-items-center gap-x-2">
                    <img src="/img/icons/jangkar.svg" alt="Code Icon" class="h-6 w-6">
                    <h4 class="font-bold text-lg mb-2">Proactive Support</h4>
                </div>
                <p class="text-sm text-slate-600 leading-relaxed">
                    Our vision is to be an innovative and solution-oriented IT company that supports customer businesses.
                </p>
            </div>
            <div class="text-left">
                <div class="flex justify-items-center gap-x-2">
                    <img src="/img/icons/jangkar.svg" alt="Code Icon" class="h-6 w-6">
                    <h4 class="font-bold text-lg mb-2">Proactive Support</h4>
                </div>
                <p class="text-sm text-slate-600 leading-relaxed">
                    Our vision is to be an innovative and solution-oriented IT company that supports customer businesses.
                </p>
            </div>
            <div class="text-left">
                <div class="flex justify-items-center gap-x-2">
                    <img src="/img/icons/jangkar.svg" alt="Code Icon" class="h-6 w-6">
                    <h4 class="font-bold text-lg mb-2">Proactive Support</h4>
                </div>
                <p class="text-sm text-slate-600 leading-relaxed">
                    Our vision is to be an innovative and solution-oriented IT company that supports customer businesses.
                </p>
            </div>
        </div>
    </div>

    <div class="px-4 md:pr-14 space-y-6 order-4">
        <div class="flex gap-x-4 items-center">
            <img src="/img/icons/file.svg" alt="plus Icon" class="h-8 w-8">
            <h2 class="text-3xl font-semibold">Pre-Requisites</h2>
        </div>
        <div class="border-b border-gray-300"></div>
        <ul class="list-disc space-y-4 text-slate-600 ml-4">
            <li>Client signature on SPK / Agreement</li>
            <li>Short brief about the project / apps that consists of the description of the project, purpose of the project, target user, and integration to internal system (if any)</li>
            <li>Client will need to assign one PIC as communication channel to Client's teams</li>
        </ul>
    </div>

    <div class="px-4 md:pl-14 py-8 space-y-6 order-5">
        <div class="flex gap-x-4 items-center">
            <img src="/img/icons/profile.svg" alt="plus Icon" class="h-8 w-8">
            <h2 class="text-3xl font-semibold">Team Members</h2>
        </div>
        <div class="border-b border-gray-300"></div>
        
        <div class="grid grid-cols-3 gap-8">
            <div class="flex justify-items-center gap-x-4">
                <img src="/img/icons/system-analyst.svg" alt="SA Icon" class="h-10 w-10">
                <h4 class="font-semibold text-md mb-2">System Analyst</h4>
            </div>
            <div class="flex justify-items-center gap-x-4">
                <img src="/img/icons/frontend.svg" alt="FE Icon" class="h-10 w-10">
                <h4 class="font-semibold text-md mb-2">Front-End Developer</h4>
            </div>
            <div class="flex justify-items-center gap-x-4">
                <img src="/img/icons/backend.svg" alt="BE Icon" class="h-10 w-10">
                <h4 class="font-semibold text-md mb-2">Back-End Developer</h4>
            </div>
            <div class="flex justify-items-center gap-x-4">
                <img src="/img/icons/mobile-dev.svg" alt="Mobile Icon" class="h-10 w-10">
                <h4 class="font-semibold text-md mb-2">Mobile Developer</h4>
            </div>
            <div class="flex justify-items-center gap-x-4">
                <img src="/img/icons/ui-designer.svg" alt="UI/UX Icon" class="h-10 w-10">
                <h4 class="font-semibold text-md mb-2">UI/UX Designer</h4>
            </div>
            <div class="flex justify-items-center gap-x-4">
                <img src="/img/icons/quality-assurance.svg" alt="QA Icon" class="h-10 w-10">
                <h4 class="font-semibold text-md mb-2">Quality Assurance</h4>
            </div>
        </div>
    </div>

    <div class="px-4 md:pr-14 py-8 space-y-6 order-6">
        <div class="flex gap-x-4 items-center">
            <img src="/img/icons/kotak.svg" alt="plus Icon" class="h-8 w-8">
            <h2 class="text-3xl font-semibold">Project Categories</h2>
        </div>
        <div class="border-b border-gray-300"></div>
        
        <div class="space-y-6">
            <div class="flex items-center justify-between">
                <div class="w-32">
                    <h4 class="font-bold text-lg">FMCG</h4>
                    <p class="text-sm text-gray-600">Previous client:</p>
                </div>
                <div class="flex gap-4 flex-1 justify-end">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                </div>
            </div>
            
            <div class="flex items-center justify-between">
                <div class="w-32">
                    <h4 class="font-bold text-lg">Finance</h4>
                    <p class="text-sm text-gray-600">Previous client:</p>
                </div>
                <div class="flex gap-4 flex-1 justify-end">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                </div>
            </div>
            
            <div class="flex items-center justify-between">
                <div class="w-32">
                    <h4 class="font-bold text-lg">Automotive</h4>
                    <p class="text-sm text-gray-600">Previous client:</p>
                </div>
                <div class="flex gap-4 flex-1 justify-end">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                </div>
            </div>
            
            <div class="flex items-center justify-between">
                <div class="w-32">
                    <h4 class="font-bold text-lg">Technology</h4>
                    <p class="text-sm text-gray-600">Previous client:</p>
                </div>
                <div class="flex gap-4 flex-1 justify-end">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                    <img src="/img/logo-clients/aun.png" alt="AUN Logo" class="h-10">
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-2 px-4 md:px-14 space-y-8 order-7">
        <div class="flex gap-x-4 items-center">
            <img src="/img/icons/prev.svg" alt="plus Icon" class="h-8 w-8">
            <h2 class="text-3xl font-semibold">Workflow</h2>
        </div>
        <div class="border-b border-gray-300"></div>
        
        <div>
            <img src="/img/workflow.png" alt="plus Icon" class="h-full">
        </div>
        
    </div>
</div>